coverage==4.0.2
django==1.9.1
django-pipeline==1.6.4
flake8==2.5.0
pep8==1.6.2
pep8-naming==0.3.3
pyflakes==1.0.0
pylint==1.5.5
pylint-django==0.7.1
requests==2.9.1
django-simple-captcha
unittest-xml-reporting
fabric
jsmin
django-softhyphen
tblib
python-gettext
iso8601==0.1.11