{% extends "base.html" %}

{% block content %}
    <div class='row'>
        <div class='col-md-12'>
            <form method='post' action='/novo-arquivo'>{% csrf_token %}
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class='row'>
                                <div class='col-md-4'id="nome_arquivo">
                                    <div class='form-group' >
                                        <label>Nome do Arquivo:</label>
                                        <input class='form-control' name='nome' type='text' required/>
                                    </div>
                                </div>
                                <div class='col-md-4' id="pasta_arquivo">
                                    <div class="form-group">
                                        <label for="">Pasta:</label>
                                        <select class='form-control' name='pasta'>
                                            <option disabled selected value> --</option>
                                            {% for pasta in usuario.pastas.all %}
                                                {% if pasta.status %}
                                                    <option value='{{ pasta.id }}'>{{ pasta.titulo }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class='col-md-4' id="tipo_arquivo">
                                    <div class="form-group">
                                        <label for="">Formato:</label>
                                        <select class='form-control' name='tipo' required>
                                            <option disabled selected value> --</option>
                                            <option value='txt'>.txt</option>
                                            <option value='md'>.md</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default" id="arquivo">
                        <div class="panel-body">

                            <textarea id="content" name="content"></textarea>
                        </div>
                        <div class="panel-footer">
                            <div class='row'>
                                <div class='col-xs-2' >
                                    {% if arquivo.pasta %}
                                        <a class='btn' href='/pasta/{{ arquivo.pasta.id }}' id="voltar"><span
                                                class='fa fa-2x fa-chevron-left'></span></a>
                                    {% else %}
                                        <a class='btn' href='/' id="voltar"><span class='fa fa-2x fa-chevron-left' ></span></a>
                                    {% endif %}

                                </div>
                                <div class='col-xs-2 col-xs-offset-1' >
                                    {% if arquivo.pasta %}
                                        <button type='submit' id="salvar"><span class='fa fa-2x fa-save'></span> Salvar</button>
                                    {% else %}
                                        <button type='submit' id="salvar"><span class='fa fa-2x fa-save'></span> Salvar</button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
            $(document).ready(function () {
                $('#inicio').addClass('active');
            });
            // Instance the tour
            tour = new Tour({
                steps: [
                    {
                        element: "#nome_arquivo",
                        title: "Criar nova pasta",
                        content: "Content of my step",
                        placement: 'auto',
                        backdrop: true
                    },
                    {
                        element: "#pasta_arquivo",
                        title: "Title of my step",
                        content: "Content of my step",
                        placement: 'auto',
                        backdrop: true
                    },
                    {
                        element: "#tipo_arquivo",
                        title: "Title of my step",
                        content: "Content of my step",
                        placement: 'auto',
                        backdrop: true
                    },
                    {
                        element: "#arquivo",
                        title: "Title of my step",
                        content: "Content of my step",
                        placement: 'auto',
                        backdrop: true
                    },
                    {
                        element: "#voltar",
                        title: "Title of my step",
                        content: "Content of my step",
                        placement: 'auto',
                        backdrop: true
                    },
                    {
                        element: "#salvar",
                        title: "Title of my step",
                        content: "Content of my step",
                        placement: 'auto',
                        backdrop: true
                    },
                    {
                        element: "#notificacoes",
                        title: "Title of my step",
                        content: "Content of my step",
                        placement: 'auto',
                        backdrop: true
                    },
                    {
                        element: "#logout",
                        title: "Title of my step",
                        content: "Content of my step",
                        placement: 'auto',
                        backdrop: true
                    }
                ]
            });

            // Initialize the tour
            tour.init();

            // Start the tour
            tour.start();
        </script>
{% endblock %}
