{% extends "base.html" %}

{% block content %}
    <div class='row'>
        <div class='col-md-12'>
            <form method='post' action='/novo-arquivo'>{% csrf_token %}
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class='row'>
                                <div class='col-md-4'>
                                    <div class='form-group'>
                                        <label>Nome do Arquivo:</label>
                                        <input class='form-control' name='nome' type='text' required/>
                                    </div>
                                </div>
                                <div class='col-md-4'>
                                    <div class="form-group">
                                        <label for="">Pasta:</label>
                                        <select class='form-control' name='pasta'>
                                            <option disabled selected value> --</option>
                                            {% for pasta in usuario.pastas.all %}
                                                {% if pasta.status %}
                                                    <option value='{{ pasta.id }}'>{{ pasta.titulo }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class='col-md-4'>
                                    <div class="form-group">
                                        <label for="">Formato:</label>
                                        <select class='form-control' name='tipo' required>
                                            <option disabled selected value> --</option>
                                            <option value='txt'>.txt</option>
                                            <option value='md'>.md</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {#              <textarea name="content" rows="15" cols="80">#}
                            {#                #}
                            {#              </textarea>#}
                            <textarea id="content" name="content"></textarea>
                        </div>
                        <div class="panel-footer">
                            <div class='row'>
                                <div class='col-xs-2'>
                                    {% if arquivo.pasta %}
                                        <a class='btn' href='/pasta/{{ arquivo.pasta.id }}'><span
                                                class='fa fa-2x fa-chevron-left'></span></a>
                                    {% else %}
                                        <a class='btn' href='/'><span class='fa fa-2x fa-chevron-left'></span></a>
                                    {% endif %}

                                </div>
                                <div class='col-xs-2 col-xs-offset-1'>
                                    {% if arquivo.pasta %}
                                        <button type='submit'><span class='fa fa-2x fa-save'></span> Salvar</button>
                                    {% else %}
                                        <button type='submit'><span class='fa fa-2x fa-save'></span> Salvar</button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
