

{% extends "base.html" %}

{% block content %}
    <div class='row'>

        <div class='col-md-12'>
            <form method='post' action='/edit-arquivo/{{ arquivo.id }}'>{% csrf_token %}
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class='row'>
                                <div class='col-md-4' id="nome_arquivo">
                                    <div class='form-group'>
                                        <label>Nome do Arquivo:</label>
                                        <input class='form-control' name='nome' type='text' required="true"
                                               value='{{ arquivo.nome }}'/>
                                    </div>
                                </div>
                                <div class='col-md-4' id="pasta_arquivo">
                                    <div class="form-group">
                                        <label for="">Pasta:</label>
                                        <select class='form-control' name='pasta'>
                                            <option disabled selected value> --</option>
                                            {% for pasta in usuario.pastas.all %}
                                                {% if pasta.status %}
                                                    <option value='{{ pasta.id }}'>{{ pasta.titulo }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class='col-md-4' id="tipo_arquivo">
                                    <div class="form-group">
                                        <label for="">Formato:</label>
                                        <select class='form-control' name='tipo' required>
                                            {% if arquivo.tipo == "txt"%}
                                                <option value='txt'>.txt</option>
                                                <option value='md'>.md</option>
                                            {% endif %}
                                            {% if arquivo.tipo == "md"%}
                                                <option value='md'>.md</option>
                                                <option value='txt'>.txt</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body" id="arquivo">
                    <textarea name="content" id="content">{% for it in content %}{{ it }}{% endfor %}</textarea>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class='row'>
                        <div class='col-xs-2' id="voltar">
                            {% if arquivo.pasta %}
                                <a class='btn' href='/pasta/{{ arquivo.pasta.id }}'><span
                                        class='fa fa-2x fa-chevron-left'></span></a>
                            {% else %}
                                <a class='btn' href='/'><span class='fa fa-2x fa-chevron-left'></span></a>
                            {% endif %}

                        </div>
                        <div class='col-xs-2 col-xs-offset-1' id="salvar">
                            {% if arquivo.pasta %}
                                <button type='submit'><span class='fa fa-2x fa-save'></span></button>
                            {% else %}
                                <button type='submit'><span class='fa fa-2x fa-save'></span></button>
                            {% endif %}
                        </div>
                        <div class='col-xs-2' id="download">
                            <a class='btn' href='/media/{{ arquivo.arquivo }}'
                               download='/media/{{ arquivo.arquivo }}'><span class='fa fa-2x fa-download'></span></a>
                        </div>
                        <div class='col-xs-2' id="remover">
                            <a class='btn' href='/remove-arquivo/{{ arquivo.id }}'><span
                                    class='fa fa-2x fa-trash-o'></span></a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
            $(document).ready(function () {
                $('#inicio').addClass('active');
            });
            // Instance the tour
            tour = new Tour({
                steps: [
                    {
                        element: "#nome_arquivo",
                        title: "Nome do arquivo",
                        content: "Edite o nome de seu arquivo",
                        placement: 'auto',
                        backdrop: true
                    },
                    {
                        element: "#pasta_arquivo",
                        title: "Pasta do arquivo",
                        content: "Local onde se encontra o arquivo",
                        placement: 'auto',
                        backdrop: true
                    },
                    {
                        element: "#tipo_arquivo",
                        title: "Tipo do arquivo",
                        content: "Escolha aqui o tipo do seu arquivo",
                        placement: 'auto',
                        backdrop: true
                    },
                    {
                        element: "#arquivo",
                        title: "View para edição/criação do conteudo do arquivo",
                        content: "Edite o texto como quiser",
                        placement: 'auto',
                        backdrop: true
                    },
                    {
                        element: "#voltar",
                        title: "Opção para voltar",
                        content: "Volta para página anterior",
                        placement: 'auto',
                        backdrop: true
                    },
                    {
                        element: "#salvar",
                        title: "Opção Salvar",
                        content: "Salva o seu arquivo",
                        placement: 'auto',
                        backdrop: true
                    },
                    {
                        element: "#download",
                        title: "Opção para Download",
                        content: "Realize o download do seu arquivo",
                        placement: 'auto',
                        backdrop: true
                    },
                    {
                        element: "#remover",
                        title: "Opção Excluir",
                        content: "Exclua seu arquivo",
                        placement: 'auto',
                        backdrop: true
                    },
                    {
                        element: "#notificacoes",
                        title: "Compartilhados",
                        content: "Seus arqiuvos que estão compartilhados",
                        placement: 'auto',
                        backdrop: true
                    },
                    {
                        element: "#logout",
                        title: "Sair do sistema",
                        content: "Opção para sair do sistema",
                        placement: 'auto',
                        backdrop: true
                    }
                ]
            });

            // Initialize the tour
            tour.init();

            // Start the tour
            tour.start();
        </script>
{% endblock %}