

{% extends "base.html" %}

{% block content %}
    <div class='row'>

        <div class='col-md-12'>
            <form method='post' action='/edit-arquivo/{{ arquivo.id }}'>{% csrf_token %}
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class='row'>
                                <div class='col-md-4'>
                                    <div class='form-group'>
                                        <label>Nome do Arquivo:</label>
                                        <input class='form-control' name='nome' type='text' required="true"
                                               value='{{ arquivo.nome }}'/>
                                    </div>
                                </div>
                                <div class='col-md-4'>
                                    <div class="form-group">
                                        <label for="">Pasta:</label>
                                        <select class='form-control' name='pasta'>
                                            <option disabled selected value> --</option>
                                            {% for pasta in usuario.pastas.all %}
                                                {% if pasta.status %}
                                                    <option value='{{ pasta.id }}'>{{ pasta.titulo }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class='col-md-4'>
                                    <div class="form-group">
                                        <label for="">Formato:</label>
                                        <select class='form-control' name='tipo' required>
                                            {% if arquivo.tipo == "txt"%}
                                                <option value='txt'>.txt</option>
                                                <option value='md'>.md</option>
                                            {% endif %}
                                            {% if arquivo.tipo == "md"%}
                                                <option value='md'>.md</option>
                                                <option value='txt'>.txt</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <textarea name="content" id="content">{% for it in content %}{{ it }}{% endfor %}</textarea>

                </div>
                <div class="panel-footer">
                    <div class='row'>
                        <div class='col-xs-2'>
                            {% if arquivo.pasta %}
                                <a class='btn' href='/pasta/{{ arquivo.pasta.id }}'><span
                                        class='fa fa-2x fa-chevron-left'></span></a>
                            {% else %}
                                <a class='btn' href='/'><span class='fa fa-2x fa-chevron-left'></span></a>
                            {% endif %}

                        </div>
                        <div class='col-xs-2 col-xs-offset-1'>
                            {% if arquivo.pasta %}
                                <button type='submit'><span class='fa fa-2x fa-save'></span></button>
                            {% else %}
                                <button type='submit'><span class='fa fa-2x fa-save'></span></button>
                            {% endif %}
                        </div>
                        <div class='col-xs-2'>
                            <a class='btn' href='/media/{{ arquivo.arquivo }}'
                               download='/media/{{ arquivo.arquivo }}'><span class='fa fa-2x fa-download'></span></a>
                        </div>
                        <div class='col-xs-2'>
                            <a class='btn' data-toggle="modal" data-target="#modal{{ arquivo.id }}"><span
                                    class='fa fa-2x fa-share-alt'></span></a>
                        </div>
                        <div class='col-xs-2'>
                            <a class='btn' href='/remove-arquivo/{{ arquivo.id }}'><span
                                    class='fa fa-2x fa-trash-o'></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>
    </div>
    <div id="modal{{ arquivo.id }}" class="modal fade" role="dialog">
        <form method="post" action="/compartilhar-amigo/{{ arquivo.id }}">{% csrf_token %}
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Compartilhe com seus amigos!</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input id='input{{ arquivo.id }}' type='text' class='form-control'/>
                            <script type="text/javascript">
                                $(function () {
                                    $('#input{{arquivo.id}}').val(location.origin + '/media/{{arquivo.arquivo}}');
                                });
                            </script>
                        </div>
                        <div class="form-group">
                            <select name="id_usuario" class="form-control">
                                {% for u in usuarios %}
                                    <option value="{{ u.id }}">{{ u.nome }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="habilitado">
                                <option value="1">Escrita</option>
                                <option value="0">Leitura</option>
                            </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-primary">Compartilhar
                                </button>
                            </div>
                            <div class="col-md-4">
                                <a href="#" class="btn btn-default" data-dismiss="modal">Fechar
                                </a>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
{% endblock %}