{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4 " id="esvaziarlixeira">
            <a href="/limpar-lixeira/" class="btn btn-success btn-block">Esvaziar Lixeira</a>
        </div>
    </div>
    <br/>
    <div class="row">
               <div class="panel status panel-danger" id="pastasdeletadas">
                <div class="panel-heading">
                <h2 class="panel-title text-center">PASTAS DELETADAS</h2>

            <br/>
            <hr/>
            <table id='table' class='table table-condensed'>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Titulo</th>
                    <th>Criado Em</th>
                    <th>Editado Em</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for pasta in usuario.pastas.all %}
                    {% if pasta.status == False %}
                        <tr>
                            <td>{{ pasta.id }}</td>
                            <td>{{ pasta.titulo }}</td>
                            <td>{{ pasta.criado_em }}</td>
                            <td>{{ pasta.editado_em }}</td>
                            <td><a href="/restpasta/{{ pasta.id }}"><i class="fa fa-rotate-left" id="restaurarpasta"></i></a></td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <br/><br/>
    <div class="panel status panel-danger" id="aquivosdeletados">
                <div class="panel-heading">
                <h2 class="panel-title text-center">ARQUIVOS DELETADOS:</h2>
            <br/>
            <hr/>
            <table id="table2" class="table table-condensed">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Tipo</th>
                    <th>Criado Em</th>
                    <th>Editado Em</th>
                    <th></th>
                    <!--<th></th>-->
                    <!--<th></th>-->
                    <!--<th></th>-->
                    <!--<th></th>-->
                </tr>
                </thead>
                <tbody>
                {% for arquivo in usuario.arquivos.all %}
                    {% if arquivo.status == False %}
                        <tr>
                            <td>{{ arquivo.id }}</td>
                            <td>{{ arquivo.nome }}</td>
                            <td>{{ arquivo.tipo }}</td>
                            <td>{{ arquivo.criado_em }}</td>
                            <td>{{ arquivo.editado_em }}</td>
                            <td><a href="/restarquivo/{{ arquivo.id }}"id="restauraraquivos"><i class="fa fa-rotate-left" ></i></a></td>
                            <!--<td><a href='/media/{{arquivo.arquivo}}' download='/media/{{arquivo.arquivo}}'><span class='fa fa-download'></span></a></td>-->
                            <!--<td><a href='/edit-arquivo/{{arquivo.id}}'><span class='fa fa-edit'></span></a></td>-->
                            <!--<td><a data-toggle="modal" data-target="#modal{{arquivo.id}}"><span class='fa fa-share-alt'></span></a></td>-->
                            <!--<td><a href='/remove-arquivo/{{arquivo.id}}'><span class='fa fa-trash'></span></a></td>-->
                        </tr>
                        <div id="modal{{ arquivo.id }}" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Compartilhe com seus amigos!</h4>
                                    </div>
                                    <div class="modal-body">
                                        <input id='input{{ arquivo.id }}' type='text' class='form-control'/>
                                        <script type="text/javascript">
                                            $(function () {
                                                $('#input{{arquivo.id}}').val(location.origin + '/media/{{arquivo.arquivo}}');
                                            });
                                        </script>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <a class='btn pull-left' href='/app' id = "volta"><span class='fa fa-2x fa-chevron-left'></span></a>
    </div>        <script>
            $(document).ready(function () {
                $('#inicio').addClass('active');
            });
            // Instance the tour
            tour = new Tour({
                steps: [
                    {
                        element: "#esvaziarlixeira",
                        title: "Esvaziar",
                        content: "Limpa todos os arquivos da lixeira",
                        placement: 'auto',
                        backdrop: true
                    },
                    {
                        element: "#pastasdeletadas",
                        title: "Pastas deletadas",
                        content: "Pastas deletadas pelo usuário",
                        placement: 'auto',
                        backdrop: true
                    },
                    {
                        element: "#aquivosdeletados",
                        title: "Arquivos deletados",
                        content: "Arquivos deletados pelo usuário",
                        placement: 'auto',
                        backdrop: true
                    },
                    {
                        element: "#restaurarpasta",
                        title: "Restaurar Pasta",
                        content: "Recupera sua pasta para seu diretório original",
                        placement: 'auto',
                        backdrop: true
                    },
                    {
                        element: "#restauraraquivos",
                        title: "Restaurar Arquivo",
                        content: "Recupera seu arquivo para seu local original",
                        placement: 'auto',
                        backdrop: true
                    },
                    {
                        element: "#voltar",
                        title: "Opção para voltar",
                        content: "Volta para página anterior",
                        placement: 'auto',
                        backdrop: true
                    },
                    {
                        element: "#notificacoes",
                        title: "Compartilhados",
                        content: "Seus arquivos que estão compartilhados",
                        placement: 'auto',
                        backdrop: true
                    },
                    {
                        element: "#logout",
                        title: "Sair do sistema",
                        content: "Opção para sair do sistema",
                        placement: 'auto',
                        backdrop: true
                    }
                ]
            });

            // Initialize the tour
            tour.init();

            // Start the tour
            tour.start();
        </script>

{% endblock %}
