{% extends 'base.html' %}

{% block content %}
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <div class="panel-body text-center">
                    <div class='row' id="compartilhados">
                        {% for comp in compartilhados_cmg %}
                            {% if comp.arquivo.status %}
                                <div class='col-xs-6 col-sm-4 col-md-3' >
                                    <div class="panel-group">
                                        <div class="panel panel-default">
                                            <div class="panel-body text-center">
                                                <a href='/arquivo_compartilhado/{{ comp.arquivo.id }}'>{{ comp.arquivo.nome }}</a>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-body text-center">
                                                <label style='font-size:55px;'><a
                                                        href='/arquivo_compartilhado/{{ comp.arquivo.id }}'><span
                                                        class='fa fa-1x fa-file-text-o'></span></a></label>
                                            </div>
                                            <div class="panel-footer">
                                                <div class='row'>
                                                    <div class='col-xs-3 col-xs-offset-3' id="download">
                                                        {% if comp.habilitado %}
                                                            <a href='/media/{{ comp.arquivo.arquivo }}'
                                                               download='/media/{{ comp.arquivo.arquivo }}'><span
                                                                    class='fa fa-2x fa-download'></span></a>
                                                        {% endif %}
                                                    </div>
                                                    <div class='col-xs-3' id="editar">
                                                        {% if comp.habilitado %}
                                                            <a href='/edit-arquivo-compartilhado/{{ comp.arquivo.id }}'><span
                                                                    class='fa fa-2x fa-edit'></span></a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% empty %}
                            <hr/>
                            <h3 class="text-center"> Não existem arquivos compartilhados com você!</h3>
                            <hr/>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#notificacoes').addClass('active');
        });
    </script>
    <script>
            $(document).ready(function () {
                $('#inicio').addClass('active');
            });
            // Instance the tour
            tour = new Tour({
                steps: [
                    {
                        element: "#compartilhados",
                        title: "Pasta com arquivos compartilhados",
                        content: "Arquivos compartilhados",
                        placement: 'auto',
                        backdrop: true
                    },
                    {
                        element: "#notificacoes",
                        title: "Compartilhados",
                        content: "Seus arquivos que estão compartilhados",
                        placement: 'auto',
                        backdrop: true
                    },
                    {
                        element: "#logout",
                        title: "Sair do sistema",
                        content: "Opção para sair do sistema",
                        placement: 'auto',
                        backdrop: true
                    }
                ]
            });

            // Initialize the tour
            tour.init();

            // Start the tour
            tour.start();
        </script>
{% endblock %}