{% extends "base.html" %}

{% block content %}
    <div class='row'>
        <div class='col-md-12'>
            <form method='post' action='/edit-arquivo/{{ arquivo.id }}'>{% csrf_token %}
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-body text-center">
                            <div class='row'>
                                <div class='col-md-12' id="nome_arquivo">
                                    Nome do Arquivo: {{ arquivo.nome }}
                                </div>
                                <div class='col-md-12' id="pasta_arquivo">
                                    Pasta: {{ arquivo.pasta.titulo }}
                                </div>
                                <div class='col-md-12' id="tipo_arquivo">
                                    Tipo: {{ arquivo.tipo }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default" >
                        <div class="panel-body" id="arquivo">

                            {% comment %}              <textarea name="content" rows="15" cols="80">
                {% for it in content %}
                  {{ it }}
                {% endfor %}
              </textarea>{% endcomment %}
                            <textarea name="content" id="content" readonly>{% for it in content %}{{ it }}{% endfor %}</textarea>
                            <script>
                                $(document).ready(function () {
                                    $('.fa-eye').click();
                                });
                            </script>
                        </div>
                        <div class="panel-footer">
                            <div class='row'>
                                <div class='col-xs-3' id="voltar">
                                    {% if arquivo.pasta %}
                                        <a class='btn' href='/pasta/{{ arquivo.pasta.id }}'><span
                                                class='fa fa-2x fa-chevron-left'></span></a>
                                    {% else %}
                                        <a class='btn' href='/'><span class='fa fa-2x fa-chevron-left'></span></a>
                                    {% endif %}

                                </div>
                                <div class='col-xs-3' id="download">
                                    <a class='btn' href='/media/{{ arquivo.arquivo }}'
                                       download='/media/{{ arquivo.arquivo }}'><span
                                            class='fa fa-2x fa-download'></span></a>
                                </div>
                                <div class='col-xs-3' id="compartilhar">
                                    <a class='btn' data-toggle="modal" data-target="#modal{{ arquivo.id }}"><span
                                            class='fa fa-2x fa-share-alt'></span></a>
                                </div>
                                <div class='col-xs-3' id="remover">
                                    <a class='btn' href='/remove-arquivo/{{ arquivo.id }}'><span
                                            class='fa fa-2x fa-trash-o'></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="modal{{ arquivo.id }}" class="modal fade" role="dialog">
        <form method="post" action="/compartilhar-amigo/{{ arquivo.id }}">{% csrf_token %}
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Compartilhe com seus amigos!</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input id='input{{ arquivo.id }}' type='text' class='form-control'/>
                            <script type="text/javascript">
                                $(function () {
                                    $('#input{{arquivo.id}}').val(location.origin + '/media/{{arquivo.arquivo}}');
                                });
                            </script>
                        </div>
                        <div class="form-group">
                            <select name="id_usuario" class="form-control">
                                {% for u in usuarios %}
                                    <option value="{{ u.id }}">{{ u.nome }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="habilitado">
                                <option value="1">Escrita</option>
                                <option value="0">Leitura</option>
                            </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-primary">Compartilhar
                                </button>
                            </div>
                            <div class="col-md-4">
                                <a href="#" class="btn btn-default" data-dismiss="modal">Fechar
                                </a>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
    <script>
            $(document).ready(function () {
                $('#inicio').addClass('active');
            });
            // Instance the tour
            tour = new Tour({
                steps: [
                    {
                        element: "#nome_arquivo",
                        title: "Criar nova pasta",
                        content: "Content of my step",
                        placement: 'auto',
                        backdrop: true
                    },
                    {
                        element: "#pasta_arquivo",
                        title: "Title of my step",
                        content: "Content of my step",
                        placement: 'auto',
                        backdrop: true
                    },
                    {
                        element: "#tipo_arquivo",
                        title: "Title of my step",
                        content: "Content of my step",
                        placement: 'auto',
                        backdrop: true
                    },
                    {
                        element: "#arquivo",
                        title: "Title of my step",
                        content: "Content of my step",
                        placement: 'auto',
                        backdrop: true
                    },
                    {
                        element: "#voltar",
                        title: "Title of my step",
                        content: "Content of my step",
                        placement: 'auto',
                        backdrop: true
                    },
                    {
                        element: "#download",
                        title: "Title of my step",
                        content: "Content of my step",
                        placement: 'auto',
                        backdrop: true
                    },
                    {
                        element: "#compartilhar",
                        title: "Title of my step",
                        content: "Content of my step",
                        placement: 'auto',
                        backdrop: true
                    },
                    {
                        element: "#remover",
                        title: "Title of my step",
                        content: "Content of my step",
                        placement: 'auto',
                        backdrop: true
                    },
                    {
                        element: "#notificacoes",
                        title: "Title of my step",
                        content: "Content of my step",
                        placement: 'auto',
                        backdrop: true
                    },
                    {
                        element: "#logout",
                        title: "Title of my step",
                        content: "Content of my step",
                        placement: 'auto',
                        backdrop: true
                    }
                ]
            });

            // Initialize the tour
            tour.init();

            // Start the tour
            tour.start();
        </script>
{% endblock %}